{% extends "layouts/base.njk" %}
{% block content %}
<article>
  <header>
    <h1>{{ title }}</h1>
    {% if dek %}<p class="dek">{{ dek }}</p>{% endif %}
  </header>
  {{ content | safe }}
</article>
{% endblock %}