{% extends "layouts/base.njk" %}
{% block content %}
<article>
  <header>
    <h1>{{ title }}</h1>
    {% if dek %}<p class="dek">{{ dek }}</p>{% endif %}
    {% include "partials/cta.njk" %}
  </header>
  {{ content | safe }}
  {% include "partials/cta.njk" %}
</article>
{% endblock %}
