{% set resolvedCtaLabel = ctaLabel or (cta and cta.label) or site.primaryCtaLabel %}
{% set resolvedCtaHref = ctaHref or (cta and cta.href) or site.primaryCtaHref %}
<p><a class="cta" href="{{ resolvedCtaHref }}">{{ resolvedCtaLabel }}</a></p>
